<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gurkirat Singh</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</head>
<body>

    <div class="top-container">
        <img class="top-cloud" src="../static/cloud.png">
        <h1>I'm Gurkirat.</h1>
        <h2> a programmer.</h2>
        <img class="bottom-cloud" src="../static/cloud.png">
        <img class="mountain-image" src="../static/mountain.png">
    </div>

    <div class="middle-container">
  <div class="profile">
    <img id="profile-pic" src="https://media-exp1.licdn.com/dms/image/C4E03AQHu_nc5Zqg-kA/profile-displayphoto-shrink_400_400/0/1660321009603?e=1674086400&v=beta&t=4D9IwvEVAy3VvMP-JUWwrvn4qkexVx0JXLH8hGanI_Q" alt="gurkirat-pic">
    <h2>Hello.</h2>
    <p>I ♥️ coffee, Sci-fi movies and enjoy travelling.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="webdev-photo" src="https://cdn-icons-png.flaticon.com/512/5431/5431676.png" alt="webdev-image">
      <h3>Web Design & development</h3>
      <p>I have experience in designing websites using <b>HTML & CSS</b></p>
    </div>
    <div class="skill-row">
      <img class="python-photo" src="https://cdn-icons-png.flaticon.com/512/2621/2621053.png" alt="python-image">
      <h3>Python Programming</h3>
      <p>As a data scientist, I have used <b>Beautiful Soup</b> and <b>Selenium</b> libraries for web-scrapping and
          <b>Pandas</b>, <b>Numpy</b>, <b>Scipy</b> & <b>Matplotlib</b> libraries for pre-processing, visualisation
          & data analysis.</p>
    </div>
    <div class="skill-row">
      <img class="sql-photo" src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="sql-image">
      <h3>SQL</h3>
      <p>I have working knowledge of creating relational models as per client requirement from scratch and implementing
          SQL queries in <b>Oracle SQL Developer</b> and <b>MongoDB</b></p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>for front-end web development and data-analysis. </h3>
    <p class="contact-message"></p>
    <a class="btn" href="mailto:gurkirat63@gmail.com">CONTACT ME</a>
  </div>
</div>
    <div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/gurkirat63/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/meGurkirat">Twitter</a>
  <a class="footer-link" href="http://www.brainjelly.org/">Website</a>
  <p>© 2018 Gurkirat S Nahar.</p>
    </div>
</body>
</html>